.info_card_image {
    align-self: center;
    margin-top: 10px;
    width: 10%;
}

.card {
    border: none;
}

.card-text {
    text-align: left;
}

.card-img, .card-img-top, .card-img-bottom {
    flex-shrink: 0;
    width: 50%;
}

